<form action="/answer" data-turbo="false">
<label for="question">Ask your coach anything</label>
  <div class="btn-group w-100 mt-3">
    <input type="text" name="question" id="question" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-primary btn-lg">
  </div>
</form>
